# Lesson 3: Connecting to a SQL Database

## Setup

In [1]:
import os
from IPython.display import Markdown, HTML, display
from langchain.chat_models import AzureChatOpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain_openai import AzureChatOpenAI

## Recover the original dataset

**Note**: To access the data locally, use the following code:

```
os.makedirs("data",exist_ok=True)
!wget https://covidtracking.com/data/download/all-states-history.csv -P ./data/
file_url = "./data/all-states-history.csv"
df = pd.read_csv(file_url).fillna(value = 0)
```

In [2]:
from sqlalchemy import create_engine
import pandas as pd


df = pd.read_csv("./data/all-states-history.csv").fillna(value = 0)

## Move the data to the SQL database

In [3]:
# Path to your SQLite database file
database_file_path = "./db/test.db"

# Create an engine to connect to the SQLite database
# SQLite only requires the path to the database file
engine = create_engine(f'sqlite:///{database_file_path}')
file_url = "./data/all-states-history.csv"
df = pd.read_csv(file_url).fillna(value = 0)
df.to_sql(
    'all_states_history',
    con=engine,
    if_exists='replace',
    index=False
)

20780

In [4]:
# df["date"] = pd.to_datetime(df['date'])

20780

## Prepare the SQL prompt

In [4]:
MSSQL_AGENT_PREFIX = """

You are an agent designed to interact with a SQL database.
## Instructions:
- Given an input question, create a syntactically correct {dialect} query
to run, then look at the results of the query and return the answer.
- Unless the user specifies a specific number of examples they wish to
obtain, **ALWAYS** limit your query to at most {top_k} results.
- You can order the results by a relevant column to return the most
interesting examples in the database.
- Never query for all the columns from a specific table, only ask for
the relevant columns given the question.
- You have access to tools for interacting with the database.
- You MUST double check your query before executing it.If you get an error
while executing a query,rewrite the query and try again.
- DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.)
to the database.
- DO NOT MAKE UP AN ANSWER OR USE PRIOR KNOWLEDGE, ONLY USE THE RESULTS
OF THE CALCULATIONS YOU HAVE DONE.
- Your response should be in Markdown. However, **when running  a SQL Query
in "Action Input", do not include the markdown backticks**.
Those are only for formatting the response, not for executing the command.
- ALWAYS, as part of your final answer, explain how you got to the answer
on a section that starts with: "Explanation:". Include the SQL query as
part of the explanation section.
- If the question does not seem related to the database, just return
"I don\'t know" as the answer.
- Only use the below tools. Only use the information returned by the
below tools to construct your query and final answer.
- Do not make up table names, only use the tables returned by any of the
tools below.

## Tools:

"""

In [5]:
MSSQL_AGENT_FORMAT_INSTRUCTIONS = """

## Use the following format:

Question: the input question you must answer.
Thought: you should always think about what to do.
Action: the action to take, should be one of [{tool_names}].
Action Input: the input to the action.
Observation: the result of the action.
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer.
Final Answer: the final answer to the original input question.

Example of Final Answer:
<=== Beginning of example

Action: query_sql_db
Action Input: 
SELECT TOP (10) [death]
FROM covidtracking 
WHERE state = 'TX' AND date LIKE '2020%'

Observation:
[(27437.0,), (27088.0,), (26762.0,), (26521.0,), (26472.0,), (26421.0,), (26408.0,)]
Thought:I now know the final answer
Final Answer: There were 27437 people who died of covid in Texas in 2020.

Explanation:
I queried the `covidtracking` table for the `death` column where the state
is 'TX' and the date starts with '2020'. The query returned a list of tuples
with the number of deaths for each day in 2020. To answer the question,
I took the sum of all the deaths in the list, which is 27437.
I used the following query

```sql
SELECT [death] FROM covidtracking WHERE state = 'TX' AND date LIKE '2020%'"
```
===> End of Example

"""

## Call the Azure Chat model and create the SQL agent

**Note**: The pre-configured cloud resource grants you access to the Azure OpenAI GPT model. The key and endpoint provided below are intended for teaching purposes only. Your notebook environment is already set up with the necessary keys, which may differ from those used by the instructor during the filming.

In [7]:
llm = AzureChatOpenAI(
    openai_api_version="2023-05-15",
    azure_deployment="gpt-4-1106",
    azure_endpoint=os.getenv("AZURE_OPENAI_ENDPOINT"),
    temperature=0, 
    max_tokens=500
)

db = SQLDatabase.from_uri(f'sqlite:///{database_file_path}')
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [8]:
QUESTION = """How may patients were hospitalized during October 2020
in New York, and nationwide as the total of all states?
Use the hospitalizedIncrease column
"""

agent_executor_SQL = create_sql_agent(
    prefix=MSSQL_AGENT_PREFIX,
    format_instructions = MSSQL_AGENT_FORMAT_INSTRUCTIONS,
    llm=llm,
    toolkit=toolkit,
    top_k=30,
    verbose=True
)

## Invoke the SQL model

In [9]:
agent_executor_SQL.invoke(QUESTION)

Error in StdOutCallbackHandler.on_chain_start callback: AttributeError("'NoneType' object has no attribute 'get'")

Action: sql_db_list_tables
Action Input: all_states_historyI have identified that there is a table named `all_states_history` in the database. Now, I will check the schema of this table to understand its structure and see if it contains the relevant columns for my query.

Action: sql_db_schema
Action Input: all_states_history
CREATE TABLE all_states_history (
	date TEXT,
	state TEXT,
	death FLOAT,
	"deathConfirmed" FLOAT,
	"deathIncrease" BIGINT,
	"deathProbable" FLOAT,
	hospitalized FLOAT,
	"hospitalizedCumulative" FLOAT,
	"hospitalizedCurrently" FLOAT,
	"hospitalizedIncrease" BIGINT,
	"inIcuCumulative" FLOAT,
	"inIcuCurrently" FLOAT,
	negative FLOAT,
	"negativeIncrease" BIGINT,
	"negativeTestsAntibody" FLOAT,
	"negativeTestsPeopleAntibody" FLOAT,
	"negativeTestsViral" FLOAT,
	"onVentilatorCumulative" FLOAT,
	"onVentilatorCurrently" FLOAT,
	positive FLOAT,
	"positiveCasesViral" FLOAT,
	"positiveIncrease" BIGINT,
	"positiveScore" BIGINT,
	"positiveTestsAntibody" FLOAT,
	"positiveTestsAntigen" FLOAT,
	"positiveTestsPeopleAntibody" FLOAT,
	"positiveTestsPeopleAntigen" FLOAT,
	"positiveTestsViral" FLOAT,
	recovered FLOAT,
	"totalTestEncountersViral" FLOAT,
	"totalTestEncountersViralIncrease" BIGINT,
	"totalTestResults" FLOAT,
	"totalTestResultsIncrease" BIGINT,
	"totalTestsAntibody" FLOAT,
	"totalTestsAntigen" FLOAT,
	"totalTestsPeopleAntibody" FLOAT,
	"totalTestsPeopleAntigen" FLOAT,
	"totalTestsPeopleViral" FLOAT,
	"totalTestsPeopleViralIncrease" BIGINT,
	"totalTestsViral" FLOAT,
	"totalTestsViralIncrease" BIGINT
)

/*
3 rows from all_states_history table:
date	state	death	deathConfirmed	deathIncrease	deathProbable	hospitalized	hospitalizedCumulative	hospitalizedCurrently	hospitalizedIncrease	inIcuCumulative	inIcuCurrently	negative	negativeIncrease	negativeTestsAntibody	negativeTestsPeopleAntibody	negativeTestsViral	onVentilatorCumulative	onVentilatorCurrently	positive	positiveCasesViral	positiveIncrease	positiveScore	positiveTestsAntibody	positiveTestsAntigen	positiveTestsPeopleAntibody	positiveTestsPeopleAntigen	positiveTestsViral	recovered	totalTestEncountersViral	totalTestEncountersViralIncrease	totalTestResults	totalTestResultsIncrease	totalTestsAntibody	totalTestsAntigen	totalTestsPeopleAntibody	totalTestsPeopleAntigen	totalTestsPeopleViral	totalTestsPeopleViralIncrease	totalTestsViral	totalTestsViralIncrease
2021-03-07	AK	305.0	0.0	0	0.0	1293.0	1293.0	33.0	0	0.0	0.0	0.0	0	0.0	0.0	1660758.0	0.0	2.0	56886.0	0.0	0	0	0.0	0.0	0.0	0.0	68693.0	0.0	0.0	0	1731628.0	0	0.0	0.0	0.0	0.0	0.0	0	1731628.0	0
2021-03-07	AL	10148.0	7963.0	-1	2185.0	45976.0	45976.0	494.0	0	2676.0	0.0	1931711.0	2087	0.0	0.0	0.0	1515.0	0.0	499819.0	392077.0	408	0	0.0	0.0	0.0	0.0	0.0	295690.0	0.0	0	2323788.0	2347	0.0	0.0	119757.0	0.0	2323788.0	2347	0.0	0
2021-03-07	AR	5319.0	4308.0	22	1011.0	14926.0	14926.0	335.0	11	0.0	141.0	2480716.0	3267	0.0	0.0	2480716.0	1533.0	65.0	324818.0	255726.0	165	0	0.0	0.0	0.0	81803.0	0.0	315517.0	0.0	0	2736442.0	3380	0.0	0.0	0.0	481311.0	0.0	0	2736442.0	3380
*/I need to query the `all_states_history` table to find the total number of hospitalized patients in New York during October 2020 and also the total number of hospitalized patients nationwide for the same period. I will use the `hospitalizedIncrease` column for this purpose.

To do this, I will:
1. Query for the total hospitalized patients in New York for October 2020.
2. Query for the total hospitalized patients nationwide for October 2020.

First, I will construct the query for New York.

Action: sql_db_query_checker
Action Input:
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
```sql
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
```Action: sql_db_query
Action Input:
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
[(0,)]Question: How many patients were hospitalized during October 2020 in New York, and nationwide as the total of all states? Use the hospitalizedIncrease column.

Thought: I need to query the `all_states_history` table to find the total number of hospitalized patients in New York during October 2020 and also the total number of hospitalized patients nationwide for the same period. I will use the `hospitalizedIncrease` column for this purpose.

To do this, I will:
1. Query for the total hospitalized patients in New York for October 2020.
2. Query for the total hospitalized patients nationwide for October 2020.

First, I will construct the query for New York.

Action: sql_db_query_checker
Action Input:
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
```sql
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
```Action: sql_db_query
Action Input:
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
[(0,)]Action: sql_db_query_checker
Action Input:
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE date LIKE '2020-10%'
```sql
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE date LIKE '2020-10%'
```Action: sql_db_query
Action Input:
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE date LIKE '2020-10%'
[(53485,)]Final Answer: During October 2020, there were 0 patients hospitalized in New York, while the total number of hospitalized patients nationwide across all states was 53,485.

Explanation:
I queried the `all_states_history` table to find the total number of hospitalized patients in New York during October 2020 using the `hospitalizedIncrease` column. The query returned 0 for New York, indicating no increase in hospitalizations during that month.

For the nationwide total, I executed a query that summed the `hospitalizedIncrease` for all states during October 2020, which returned a total of 53,485.

The SQL queries used were:

For New York:
```sql
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE state = 'NY' AND date LIKE '2020-10%'
```

For nationwide total:
```sql
SELECT SUM(hospitalizedIncrease)
FROM all_states_history
WHERE date LIKE '2020-10%'
```

> Finished chain.

{'input': 'How may patients were hospitalized during October 2020\nin New York, and nationwide as the total of all states?\nUse the hospitalizedIncrease column\n',
 'output': "During October 2020, there were 0 patients hospitalized in New York, while the total number of hospitalized patients nationwide across all states was 53,485.\n\nExplanation:\nI queried the `all_states_history` table to find the total number of hospitalized patients in New York during October 2020 using the `hospitalizedIncrease` column. The query returned 0 for New York, indicating no increase in hospitalizations during that month. \n\nFor the nationwide total, I executed a query that summed the `hospitalizedIncrease` for all states during October 2020, which returned a total of 53,485. \n\nThe SQL queries used were:\n\nFor New York:\n```sql\nSELECT SUM(hospitalizedIncrease) \nFROM all_states_history \nWHERE state = 'NY' AND date LIKE '2020-10%'\n```\n\nFor nationwide total:\n```sql\nSELECT SUM(hospitalizedIncrease) \nFROM all_states_history \nWHERE date LIKE '2020-10%'\n```"}